soapRequest/calculator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="intA"/>
        <xs:element type="xs:int" name="intB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
